<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% block title %}{% endblock %}
</head>
<body>
<script src="https://partner.googleadservices.com/gampad/cookie.js?domain=bootstrap-4.ru&amp;callback=_gfp_s_&amp;client=ca-pub-8588635311388465&amp;cookie=ID%3Ddcb3afe48696a56c-22b9dfd4f8ca00cd%3AT%3D1634497711%3ART%3D1634497711%3AS%3DALNI_Ma5SKEzyXDBYk9jSLiMQ_WtdlVfVQ"></script><script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202112060101/show_ads_impl.js" id="google_shimpl"></script><script async="" src="https://mc.yandex.ru/metrika/tag.js"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script defer="">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4481610-59', 'auto');
  ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(39705265, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39705265" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
	google_ad_client: "ca-pub-8588635311388465",
	enable_page_level_ads: true
  });
</script>


	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	  <h5 class="my-0 mr-md-auto font-weight-normal">Микрозелень</h5>
	  <nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="/">Главная</a>
		<a class="p-2 text-dark" href="/create">Добавить товар</a>
	  </nav>
	</div>

	{% block body %}{% endblock %}
<div class="container">
	<footer class="pt-4 my-md-5 pt-md-5 border-top">
		<div class="row">
		  <div class="col-12 col-md">
			<img class="mb-2" src="" alt="" width="24" height="24">
			<small class="d-block mb-3 text-muted">© 2017-2018</small>
		  </div>
		  <div class="col-6 col-md">
			<h5>Features</h5>
			<ul class="list-unstyled text-small">
			  <li><a class="text-muted" href="#">Cool stuff</a></li>
			  <li><a class="text-muted" href="#">Random feature</a></li>
			  <li><a class="text-muted" href="#">Team feature</a></li>
			  <li><a class="text-muted" href="#">Stuff for developers</a></li>
			  <li><a class="text-muted" href="#">Another one</a></li>
			  <li><a class="text-muted" href="#">Last time</a></li>
			</ul>
		  </div>
		  <div class="col-6 col-md">
			<h5>Resources</h5>
			<ul class="list-unstyled text-small">
			  <li><a class="text-muted" href="#">Resource</a></li>
			  <li><a class="text-muted" href="#">Resource name</a></li>
			  <li><a class="text-muted" href="#">Another resource</a></li>
			  <li><a class="text-muted" href="#">Final resource</a></li>
			</ul>
		  </div>
		  <div class="col-6 col-md">
			<h5>About</h5>
			<ul class="list-unstyled text-small">
			  <li><a class="text-muted" href="#">Team</a></li>
			  <li><a class="text-muted" href="#">Locations</a></li>
			  <li><a class="text-muted" href="#">Privacy</a></li>
			  <li><a class="text-muted" href="#">Terms</a></li>
			</ul>
		  </div>
		</div>
	  </footer>
	  </div>
</body>
</html>